html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 64px;
  background: #d9d9d9;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
}

#title .action-container {
  display: flex;
  align-items: center;
}

#title .action-container #search {
  border-radius: 32px;
  border: 0;
  font-size: 32px;
  padding: 0px 32px;
  height: 100%;
  margin-right: 32px;
  width: 542px;
}

#title .action-container svg {
  height: 64px;
  width: 64px;
  fill: #808080;
  margin-left: 16px;
}

#title .action-container svg:hover {
  cursor: pointer;
}

#title .action-container svg.active {
  fill: #42b983;
}

#container {
  padding: 32px 0px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
