.container-list {
  padding: 32px 0px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  flex-direction: column;
}

.container-list .photo-card .title {
  margin-top: 0px;
}

.container-list .photo-card {
  padding: 10px 0px 10px 40px;
}