html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height:  100%;
}

body {
  display: flex;
  flex-direction: column;
}

.reset {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

#title {
  font-size: 34px;
  background: #d9d9d9;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
}

#title .action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title .action-container #search {
  border-radius: 32px;
  border: 0;
  font-size: 32px;
  padding: 16px 32px;
  height: 100%;
  width: 60%;
}

#title .action-container svg {
  height: 64px;
  width: 64px;
  fill: #808080;
  margin-left: 16px;
}

#title .action-container svg:hover {
  cursor: pointer;
}

#title .action-container svg.active {
  fill: #42b983;
}

#title .title {
  margin: 0;
}

.container-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 32px 0;
  height: 80vh;
  padding-top: 10px;
  margin: 0px 10px;
}

.container-list {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
  max-height: 80vh;
}
.icon{
  padding: 20px;
}

@media (max-width:1300px) {
  #title {
    flex-direction: column;
    gap: 20px;
  }  
}

@media (max-width:900px) {
  #title .action-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  #title .action-container svg:nth-child(1) {
    margin-left: 0px;
  }
}