.photo-card {
  padding: 32px 48px;
  text-align: left;
}

.photo-card img {
  max-width: 300px;
}

.photo-card .title {
  max-width: 300px;
  margin-top: 16px;
  text-align: left;
  font-size: 32px;
}

#container.list {
  display: grid;
  grid-template-columns: 1fr;
}

#container.list .photo-card {
  display: flex;
}

#container.list .photo-card .title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
