.photo-card {
  padding: 32px 48px;
  box-shadow: inset 0px 0px 2px 1px #106CD3 ;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: white;
  filter: grayscale();
}

.photo-card:hover{
  transition: 250ms;
  filter: none;
}

.photo-card img {
  max-width: 300px;
  border: 1px solid black;
}

.photo-card .title {
  max-width: 300px;
  margin-top: 16px;
  text-align: center;
  font-size: 32px;
  color: rgb(11, 11, 87);
}

@media (max-width: 600px) {
  .photo-card {
    width: 70%;  
  }

  .photo-card img {
    max-width: 100%;
  }

  .photo-card .title{
    font-size: 24px;
  }
}

