.photo-row {
  margin: 15px auto 15px 150px;
  width: 100%;
}

.photo-row img {
  display: inline;
  vertical-align: middle;
  margin-right: 15px;  
}

.photo-row .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
