.photo-row {
  margin: 15px auto 15px 150px;
  width: 100%;
}

.photo-row img {
  display: inline;
  vertical-align: middle;
  margin-right: 15px;  
}

.photo-row .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

@media only screen and (max-device-width: 720px) {
  .photo-row {
    display: table;
    margin: 15px 15px;
  }

  .photo-row .title {
    display: table-cell;
    float:inline-end;
    vertical-align: middle;
    font-size: 12px;

  }
}
