.photo-card-grid {
    padding: 30px 25px;
    text-align: left;
}

.photo-card-list {
    padding: 32px 48px;
    text-align: left;
    flex: 1;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.photo-card-grid img {
    max-width: 300px;
    opacity: 0.6;
    transition: 0.3s;
}

.photo-card-grid img:hover {
    opacity: 1
}

.photo-card-list .image {
    float: left;
    margin-right: 16px;
}

.photo-card-list img {
    display: block;
    opacity: 0.6;
    transition: 0.3s;
}

.photo-card-list img:hover {
    opacity: 1
}

.photo-card-grid .title {
    max-width: 300px;
    margin-top: 16px;
    text-align: left;
    font-size: 32px;
}

.photo-card-list .title {
    text-align: left;
    font-size: 32px;
}

@media screen and (max-width: 716px) {
    .photo-card-list {
        padding: 32px 15px;
        text-align: left;
        flex: 1;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
    .photo-card-list .title {
        text-align: left;
        font-size: 20px;
    }
}