ul {
    padding: 0px;
    width: 95%;
    display:flex;
    flex-direction: column;
}

.photo-list-item {
    align-items: center;
    padding: 32px 32px;
    text-align: left;
    box-shadow: inset 0px 0px 5px 2px #106CD3 ;
    margin-bottom: 5px;
    list-style: none;  
    font-size: 32px; 
    background-color: white;
    filter: grayscale();
    color: rgb(11, 11, 87)
  }

  .photo-list-item:hover{
    transition: 250ms;
    filter: none;
  }

  .photo-list-item span:first-of-type{
    width: 100px;
  }
  
  .photo-list-item img {
    max-width: 300px;
    border: 1px solid black;
    margin: 0px 32px;
  }
  
  .photo-list-item .title {
    display: flex;
    flex-grow: 2;
    align-content: center;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .photo-list-item{
      padding: 12px 12px;
    }

    .photo-list-item span:first-of-type{
      width: fit-content;
    }

    .photo-list-item span{
      font-size: 12px;
    }

    .photo-list-item .title{
      font-size: 14px;
    }

    .photo-list-item img{
      margin: 0px 12px;
      max-width: 150px;
    }
  }
  