.photo-card {
  padding: 1rem 1.5rem;
  text-align: left;
}

.photo-card img {
  max-width: 18.75rem;
}

.photo-card .title {
  max-width: 18.75rem;
  margin-top: 0.5rem;
  text-align: left;
  font-size: 1rem;
}